@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html, body, #root {
  background-color: #141414; /* Warna hitam khas Netflix */
  color: #ffffff;            /* Warna teks otomatis putih */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;        /* Mencegah scroll patah ke samping */
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 306px;
    max-width: 529px;
    height: fit-content;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 24px;
    gap: 20px;
}

#logo {
    width: auto;
    height: 24px
}

.login-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.login-card-title h1 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

.login-card-title p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
}

.form-group label {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 140%;
    letter-spacing: 0.2px;
    width: 100%;
}

.form-group input {
    width: 100%;
    height: 32px;
    background-color: transparent;
    border: 0.58px solid rgba(231, 227, 252, 0.23);
    border-radius: 24px;
    padding: 8px 12px;
    color: #c1c2c4;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.12px;
    text-align: left;
}

.form-group img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 12px;
    cursor: pointer;
    align-self: end;
}

.login-card-additional-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-card-additional-action p {
    font-size: 10px;
    font-weight: 500;
    color: #c1c2c4;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.login-card-additional-action a {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.login-card-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.login-button {
    width: 100%;
    height: 28px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 24px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    border: 1px solid rgba(231, 227, 252, 0.23);
    cursor: pointer;
}

.login-button:hover {
    background-color: #3d4142;
}

.login-card-action p {
    font-size: 10px;
    font-weight: 500;
    color: #c1c2c4;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

.google-login-btn {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: rgba(24, 26, 28, 0.84);
    border-radius: 24px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    border: 1px solid rgba(231, 227, 252, 0.23);
    cursor: pointer;
}

.google-login-btn img {
    width: 10px;
    height: 10px;
}

.google-login-btn:hover {
    background-color: #ffffff;
}

/* home style */

main {
  padding-top: 90px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.logo img {
    width: auto;
    height: 24px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.profile {
    align-items: flex-end;
    cursor: pointer;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hero {
  /* width: 100%; */
  height: 80vh;
  padding-top: 40px;
  background-image: url("images/bg-hero.png");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px;
}

.hero-content::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.hero-content * {
  position: relative;
  z-index: 1;
}

.hero-text {
  max-width: 50%;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
  color: #ffffff;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.start-btn {
  background-color: #0F1E93;
  height: 45px;
  border: none;
  padding: 10px 28px;
  color: white;
  border-radius: 48px;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
}

.info-btn {
  display: inline-flex;
  align-items: center;
  height: 45px;
  gap: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px 26px;
  border-radius: 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.info-btn img {
  width: 24px;
  height: 24px;
}

.age {
  height: 45px;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
}

.movie-section {
  /* width: 100%; */
  margin: 0 80px;
  padding: 40px 0;
}

.movie-section h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.movie-item {
  position: relative;
  margin-right: 24px;
  flex: 0 0 auto;
}

.movie-item::after {
  content: "";
  position: absolute;
  inset: 0; /* top:0 left:0 right:0 bottom:0 */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.2),
    transparent
  );
  border-radius: 8px;
  pointer-events: none;
}

.movie-item .row-poster {
  width: 100%;
  object-fit: cover;
  max-height: 180px;
  border-radius: 8px;
  display: block;
}

/* teks di atas gambar */
.movie-info {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  left: 0px;
  color: white;
  background: transparent;
  padding: 20px;
  border-radius: 6px;
  z-index: 2;
  box-sizing: border-box;
}

.movie-info h3 {
  margin: 0;
  font-size: 14px;
}

.movie-info p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.movie-info::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 180px;
  margin-right: 24px;
  border-radius: 8px;
  transition: 450ms; 
}

.movie-card {
  display: flex;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.row-poster:hover {
  transform: scale(1.05);
}

.movie-card::-webkit-scrollbar {
  display: none;
}

.large-movie {
  max-height: 360px;
}

.large-movie:hover {
  transform: scale(1.08);
}

.movie-wrapper {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #2F3334;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
}

.arrow img {
  width: 24px;
  height: 24px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #111;
  color: white;
  border-top: 1px solid #333;
}

.footer-col {
  padding: 60px 80px;
}

.footer p {
  color: #C1C2C4;
}

.footer img {
  width: auto;
  height: 44;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  color: #C1C2C4;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-col li {
  font-size: 14px;
  color: #C1C2C4;
  margin-bottom: 8px;
}

.genre-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.genre-list ul {
  list-style: none;
  padding: 0;
}

.genre-list li {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 8px;
}